body {
    background-color: grey; /* light background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 16px;
}

header h1 {
    color: green; 
    text-align: center;
    margin: 0 0 16px 0;
}

p {
    color: red;
    padding: 10px;
    margin: 0 0 10px 0;
}
a {
    color: blue;
    text-decoration: underline;
}


a:hover {
    text-decoration: none;
}

.styled-box {
        border: 1px solid black;
        background-color:  lightgray; /
        padding: 15px;
        text-align: center;
}